<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trading Bot UI</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h2>Binance Futures Testnet Bot</h2>

        <!-- FORM -->
        <form method="POST" class="form-box">

            <!-- Symbol -->
            <label>Symbol</label>
            <select name="symbol" required>
                {% for s in symbols %}
                <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
            </select>

            <!-- Side -->
            <label>Side</label>
            <select name="side" required>
                <option value="BUY">BUY</option>
                <option value="SELL">SELL</option>
            </select>

            <!-- Order Type -->
            <label>Order Type</label>
            <select name="type" required>
                <option value="MARKET">MARKET</option>
                <option value="LIMIT">LIMIT</option>
            </select>

            <!-- Quantity -->
            <label>Quantity</label>
            <input type="number" step="0.001" name="quantity" required placeholder="Ex: 0.002">

            <!-- Price -->
            <label>Price (Limit only)</label>
            <input type="number" name="price" placeholder="Min: ~63k | Max: ~70k">

            <!-- Submit -->
            <button type="submit">Place Order</button>

        </form>

        {% if order %}
        <div class="success-box">

            <h3>Order Placed ✅</h3>

            <p><b>Order ID:</b> {{ order.id }}</p>
            <p><b>Status:</b> {{ order.status }}</p>
            <p><b>Executed Qty:</b> {{ order.executed }}</p>
            <p><b>Avg Price:</b> {{ order.avg_price }}</p>

        </div>
        {% endif %}

        {% if error %}
        <div class="error-box">
            <h3>Error ❌</h3>
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <!-- ERROR -->
        {% if error %}
        <div class="error-box">
            <h3>Error ❌</h3>
            <p>{{ error }}</p>
        </div>
        {% endif %}

    </div>

</body>

</html>